# Python
.Python
venv/
__pycache__

# Pycharm
.idea

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# exclude heavy datasets
/data/raw/*
/data/processed/*

# Airflow files
/airflow/config/*
/airflow/logs/*
/airflow/plugins/*

# Mac OS-specific storage files
.DS_Store
